@model IEnumerable<ShopComp.Models.Cart>
@{
    Layout = "_Layout";
}

<div class="container-fluid m-5">
    <table class="mb-4">
        <tr>
            <td>
                <a class="w-100 btn btn-sm btn-success" asp-controller="Cart" asp-action="Checkout">Оформить заказ</a>
            </td>
            <td>
                <h4 class="fst-italic" style="margin-left: 10px">Сумма заказа: @ViewBag.total</h4>
            </td>
        </tr>
    </table>
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-4">
            <a href="~/Tovars/MoreDetails/@item.Tovar.Id">
                <img class="img-thumbnail w-50 h-25" src="@item.Tovar.Img" alt="@item.Tovar.Tittle" />
            </a>
            <p class="fs-2">
                <a href="~/Tovars/MoreDetails/@item.Tovar.Id" class="idtovar">@item.Tovar.Tittle</a>
            </p>
            <p class="w-75">@item.Tovar.ShortDesc</p>
            <table class="table table-striped w-75">
                <tr>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итоговая цена</th>
                </tr>
                <tr>
                    <td>@item.Tovar.Price.ToString("# руб")</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Tovar.Price * item.Quantity) руб</td>
                </tr>
            </table>
            <div>
                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Очистить</a>
                <a asp-controller="Cart" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Удалить</a>
                @if (item.Tovar.Amount > 0)
                {
                    <a asp-controller="Cart" asp-action="BuyCart" asp-route-id="@item.Tovar.Id" class="btn btn-sm btn-success">Добавить</a>
                }
            </div>
        </div>
        }
    </div>
</div>

